[project]
	description = Demo application for the 'Jenkins: The Definitive Guide' book
[access]
	inheritFrom = All-Projects
[access "refs/*"]
	owner = group user/aivarannamaa
[access "refs/for/refs/*"]
	read = group user/aivarannamaa
	push = group user/aivarannamaa
	label-Code-Review = -2..+2 group user/aivarannamaa
	label-Verified = -1..+1 group user/aivarannamaa
	rebase = group user/aivarannamaa
	removeReviewer = group user/aivarannamaa
	submit = group user/aivarannamaa
[access "refs/heads/*"]
	read = group user/aivarannamaa
	create = group user/aivarannamaa
	push = +force group user/aivarannamaa
	pushMerge = group user/aivarannamaa
[access "refs/tags/*"]
	push = +force group user/aivarannamaa
	pushTag = group user/aivarannamaa
	pushSignedTag = group user/aivarannamaa
